DATABASE_URL="postgresql://postgres:123@localhost:5434/nest?schema=public"

SESSION_SECRET=""

CLOUDINARY_CLOUD_NAME=""

CLOUDINARY_API_KEY=""

CLOUDINARY_API_SECRET=""

MAILGUN_API_KEY=""

MAILGUN_DOMAIN=""

PREFIX=""

CLIENT_URL=http://localhost:5173