@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
    height: 100%;
  }
}

@layer components {
  .container {
    @apply w-full max-w-[1260px] px-5 py-20 md:px-[40px] md:py-[120px];
  }

  .navbar-link {
    @apply m-2.5 p-2.5 hover:underline;
  }

  .shadow-button {
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  }

  .black-hover {
    background-color: hsl(220, calc(var(--saturation-factor, 1) * 7.7%), 22.9%);
  }

  .weird {
    grid-column: 9 / span 4;
  }

  .weird-2 {
    grid-column: 1 / span 4;
  }

  .weird-3 {
    grid-column: 6 / span 7;
  }

  .weird-4 {
    grid-column: 2 / span 10;
  }

  .font-calc {
    font-size: clamp(16px, 2vw, 20px);
  }
}
